/*  გლობალ რესეტს არ ქონდა ბოქს საიზინგი ბორდერ ბოქსი და ფონტს მიფუჭებდა და ამიტომ არ დავამატე  */

/* Code */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  list-style-type: none;
}

:root {
  --primary-color: #f5f5f5;
  --bg-color: #232340;
  --main-font-size: 14px;
  --heading-color: #5468e7;
}

body {
  max-width: 100vw;
  margin: 0;

  /* es imistvis rom verticaluri scroll bar ar gamochndes da footer - is qvemot ar iyos carieli adgili */
  overflow-y: hidden;
  height: 100%;
  color: var(--primary-color);
}

/* es imistvis rom footeri iyos yoveltvis gverdis boloshi */

.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* es carieli main elementi imistivis rom flex: 1; rom davuwer footeris zemot adgils daikavebs da footeri chamova qvemot */

main {
  flex: 1;
}

/* main footer element */

.wrapper-div {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

footer {
  background-color: var(--bg-color);
  width: 100%;
  max-height: 500px;
  padding: 0 140px;
  margin-top: auto;
}

/* left side of the footer, image with description and copyright text */

.logo {
  min-width: 170px;
  display: flex;
  flex-direction: column;
  margin-top: 73px;
  margin-bottom: 253px;
}

.logo-img {
  width: 138px;
  height: 52px;
  margin-bottom: 16px;
}

.logo p {
  color: var(--primary-color);
  font-size: var(--main-font-size);
  line-height: 23px;
  letter-spacing: 1%;
}

.copyright {
  margin-top: 253px;
  font-size: var(--main-font-size);
  color: var(--primary-color);
  line-height: 23px;
  letter-spacing: 1%;
}

/* right side of the footer */

.list-container {
  display: flex;
  margin: 95px 139px 231px 130px;
}

.footer-list ul {
  list-style-type: none;
}

.footer-list li {
  margin-bottom: 12px;
  color: var(--primary-color);
  font-size: var(--main-font-size);
  line-height: 23px;
  letter-spacing: 1%;
}

.footer-list h3 {
  color: var(--heading-color);
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
}

.company {
  margin-right: 85px;
}

.features {
  margin-right: 63px;
}

.contact {
  margin-right: 61px;
}

/* input box */

.footer-input {
  background-color: #f5f5f524;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  width: 268px;
  color: var(--primary-color);
  font-size: var(--main-font-size);
  line-height: 160%;
  letter-spacing: 1%;
  position: relative;
  display: flex;
  align-items: center;
}

.footer-input input {
  background-color: transparent;
  width: 100%;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

/* media query */

@media (max-width: 1439px) {
  .list-container {
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: 0;
    width: 100%;
  }

  .wrapper-div {
    padding-right: 0;
    justify-content: space-around;
  }

  .footer-list li {
    font-size: 12px;
  }

  .footer-list h3 {
    font-size: 18px;
  }

  .footer-input {
    width: 200px;
  }
}
/* breaks at 960px and below */
